/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  /* font: 13.34px Helvetica, Arial, sans-serif; */
  /* font-size: small; */
/*  font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;*/
  /*text-align: left;*/
}

/*h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
}*/

h1, h2, h3, h4, h5, h6 { margin: 1em 0; }
p { margin: 1em 0; }

a         { color: #050604; text-decoration: none; }
a:hover   { color: #050604; text-decoration: none; }
a:visited { color: #050604; }

/*.highlight { font-size: 12px; line-height: 1em; }*/

.post-date-span { float: left; width: 110px; text-align: right; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
/* font-family: Monaco, "Courier New", monospace;*/
  /*font-size: 80%;*/
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
    max-width: 810px;
    margin: 10px auto;
    padding: 75px;
    
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'PT Sans', sans-serif;*/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    /*font-family: Calibri;*/
    
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6em;
}

.site .header {
    margin-bottom: 40px;
}

.site .header a {
  /*font-weight: bold;*/
  text-decoration: none;
}

.site .header h1.title {
  font-weight: 400;
  display: block;
  text-align: center;
  margin: 0px;
  font-size: 46px;
  letter-spacing: 0.13em;
  line-height: 1.6em;
}

/*.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}*/

.site .header .topnav {
    width: 100%;
    text-align: center;
}

.site .header a.extra {
  color: #aaa;
  margin-right: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .site-footer {
  /*font-size: 80%;*/
  color: #666;
  /*font-weight: normal;*/
  /*border-top: 4px solid #eee;*/
  margin-top: 2em;
  overflow: hidden;
}

.site .site-footer .contact {
  /*float: left;*/
  /*margin-right: 3em;*/
  width: 49%;
}

.site .site-footer .contact a {
  color: #aaa;
}

.site .site-footer .contact a:hover {
  color: #000;
}

/*.site .site-footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .site-footer .rss img {
  border: 0;
}*/

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post a {
    font-weight: 500;
}

.post pre {
  border: 1px solid #ddd;
  /*background-color: #eef; */
  background-color: #fff;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  border: 1px solid #ddd;
  font-size: 80%;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post pre.highlight {
  line-height: normal;
  background-color: #333;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/* Customize */

.post img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
  margin: 0 0 1em 0;
}

table, td, th { 
  border: 1px solid #ccc;
  border-collapse:collapse;
}

td, th {
  padding: 6px 13px;
}

/*th {
  font-weight: bold;
}*/

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

/*blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}*/

.page-divider {
    border-bottom: 1px solid #ddd;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.page-nav {
    display: block;
    width: 100%;
    padding: 17px 0;
}

.page-nav .prev {
    width: 50%;
    /*background: lightblue;*/
}

.page-nav .next {
    width: 50%;
    /*background: lightgreen;*/
}

.clearfix {
    overflow: auto;
}

/* styles for floated layout */
/*.page-nav:after {
    content: '';
    display: table;
    clear: both;
}*/