
.page-divider {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
}

.post-meta {
  width: 100px;
  display: inline-block;
  text-align: right;
}

.post-list > li {
  margin-bottom: 0px;
}

.post-link {
  display: inline-block;
  font-size: 17px;
}
