<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        
        <!-- Custom CSS -->
        <!-- <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"> -->
        <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
        
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
        
        <link rel="stylesheet" href="/css/main.css">
        
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        
        <!-- Math Latex Config -->
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
            tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
          });
        </script>
        <script type="text/javascript" async
          src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
        </script>
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <div class="topnav">
                <a class="extra" href="/">ESSAYS</a>
                <a class="extra" href="/reading.html">READING</a>
                <!-- <a class="extra" href="/resources.html">resources</a> -->
                <a class="extra" href="/feed.xml">FEED</a>                
            </div>
          </div>
          <div class="page-divider"></div>
          
          {{ content }}
          
          <div class="page-divider"></div>
          
          <div class="site-footer">
            <div class="contact text-align-right float-left">
              <p>
                {{ site.author }}<br />
                Melbourne<br />
                hengf.li at gmail
              </p>
            </div>
            <div class="contact float-right">
              <p>
				<a href="http://people.eng.unimelb.edu.au/henli">people.eng.unimelb.edu.au/henli</a><br />
                <a href="https://github.com/HengfengLi">github.com/HengfengLi</a><br />
                <a href="https://au.linkedin.com/in/hengfengli">linkedin</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
